{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     

{% endblock extra_css %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="alternative-page-datatable" class="table w-100" style="table-layout:fixed">
                        <thead>
                            <tr>
                                <th style="width: 50px">No</th>
                                <th>Image</th>
                                <th>Upload Date</th>
                                <th>Company Name</th>
                                <th>User ID</th>
                                <th>Porcess Result</th>
                                <th>Result Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for img in images %}
                            <tr> 
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <a class="image-popup-vertical-fit" href="/media/{{ img.photo_name }}" title="">
                                    <img src="/media/{{ img.photo_name }}" height="50px" />
                                    </a>
                                </td>
                                <td>{{ img.created_at }}</td>
                                <td>{{ img.company_name }}</td>
                                <td>{{ img.user_id }}</td>
                                <td>
                                    {% if img.result_status == 0 %}
                                        <div class="btn btn-danger">
                                            Declined
                                        </div>
                                    {% elif img.result_status == 1 %}
                                        <div class="btn btn-primary">
                                            Approved
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="image-popup-vertical-fit" href="/media/{{ img.result_photo }}" title="">
                                    <img src="/media/{{ img.result_photo }}" height="50px" />
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_info" id="key-datatable_info" role="status" aria-live="polite">Showing {{ rows_from }} to {{ rows_to }} of {{ rows_total }} entries</div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_paginate paging_simple_numbers" id="key-datatable_paginate">
                <ul class="pagination pagination-rounded" style="float:right">
                    <li class="paginate_button page-item previous disabled" id="key-datatable_previous">
                        <a href="#" aria-controls="key-datatable" data-dt-idx="0" tabindex="0" class="page-link">
                            <i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    {% for page in pages %}
                        <li class="paginate_button page-item {{ page.active }}">
                            <a href="{% url 'company-products' company_id %}?page={{page.value}}" aria-controls="key-datatable" data-dt-idx="1" tabindex="0" class="page-link">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    <li class="paginate_button page-item previous disabled" id="key-datatable_previous">
                        <a href="#" aria-controls="key-datatable" data-dt-idx="0" tabindex="0" class="page-link">
                            <i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}	

{% block extra_javascript %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/pages/product-list.js' %}"></script>
{% endblock extra_javascript %}