{% load static %}
{% block content %}
	<div class="row">
		<div class="col-xl-12">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 overflow-hidden">
									<p class="text-truncate font-size-14 mb-2">Total Companies</p>
									<h4 class="mb-0">{{ company_count }}</h4>
								</div>
								<div class="text-primary ms-auto"> <i class="ri-group-line font-size-24"></i>
								</div>
							</div>
						</div>
						<div class="card-body border-top py-3">
							<div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
								<span class="text-muted ms-2">From previous period</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 overflow-hidden">
									<p class="text-truncate font-size-14 mb-2">Number of Products</p>
									<h4 class="mb-0">{{ product_count }}</h4>
								</div>
								<div class="text-primary ms-auto"> <i class="ri-gift-line font-size-24"></i>
								</div>
							</div>
						</div>
						<div class="card-body border-top py-3">
							<div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
								<span class="text-muted ms-2">From previous period</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 overflow-hidden">
									<p class="text-truncate font-size-14 mb-2">Number of Results</p>
									<h4 class="mb-0">{{ image_count }}</h4>
								</div>
								<div class="text-primary ms-auto"> <i class="ri-image-line font-size-24"></i>
								</div>
							</div>
						</div>
						<div class="card-body border-top py-3">
							<div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
								<span class="text-muted ms-2">From previous period</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 overflow-hidden">
									<p class="text-truncate font-size-14 mb-2">Number of Planograms</p>
									<h4 class="mb-0">{{ planograms_count }}</h4>
								</div>
								<div class="text-primary ms-auto"> <i class=" ri-list-unordered font-size-24"></i>
								</div>
							</div>
						</div>
						<div class="card-body border-top py-3">
							<div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
								<span class="text-muted ms-2">From previous period</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
{% endblock content %}