{% load static %}
{% block header %}
		<header id="page-topbar">
			<div class="navbar-header">
				<div class="d-flex">
					<!-- LOGO -->
					<div class="navbar-brand-box">
						<a href="{% url 'dashboard' %}" class="logo logo-dark"> <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm-dark.png' %}" alt="logo-sm-dark" height="54">
                                </span>
							<span class="logo-lg">
                                    <img src="{% static 'images/logo-dark.png' %}" alt="logo-dark" height="54">
                                </span>
						</a>
						<a href="{% url 'dashboard' %}" class="logo logo-light"> <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm-light.png' %}" alt="logo-sm-light" height="54">
                                </span>
							<span class="logo-lg">
                                    <img src="{% static 'images/logo-light.png' %}" alt="logo-light" height="54">
                                </span>
						</a>
					</div>
					<button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"> <i class="ri-menu-2-line align-middle"></i>
					</button>
			
				</div>
				<div class="d-flex">
					<div class="dropdown d-inline-block d-lg-none ms-2">
						<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ri-search-line"></i>
						</button>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<img id="header-lang-img" src="{% static 'images/flags/us.jpg' %}" alt="Header Language" height="16" />
						</button>
						<div class="dropdown-menu dropdown-menu-end">
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
							<img src="{% static 'images/flags/us.jpg' %}" alt="user-image" class="me-1" height="12" />
							<span class="align-middle">English</span>
						</a>
			
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">
							<img src="{% static 'images/flags/russia.jpg' %}" alt="user-image" class="me-1" height="12" />
							<span class="align-middle">Russian</span>
						</a>
						</div>
					</div>
						{% comment %} <div class="dropdown-menu dropdown-menu-end">
							<a href="javascript:void(0);" class="dropdown-item notify-item">
								<img src="{% static 'images/flags/russia.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
							</a>
						</div> {% endcomment %}
					{% comment %} </div> {% endcomment %}
					<div class="dropdown d-none d-lg-inline-block ms-1">
						<button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"> <i class="ri-fullscreen-line"></i>
						</button>
					</div>
					<div class="dropdown d-inline-block user-dropdown">
						<button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-2.jpg' %}" alt="Header Avatar"> <span class="d-none d-xl-inline-block ms-1">{{user.username}}</span>
							<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item--> <a class="dropdown-item" href="#"><i class="ri-user-line align-middle me-1"></i> Profile</a>
							<a class="dropdown-item" href="{% url 'auth-lock-screen' %}"><i class="ri-lock-unlock-line align-middle me-1"></i> Lock screen</a>
							<div class="dropdown-divider"></div>
							{% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'change_password' %}"><i class="mdi mdi-lock text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-lock-screen">Change password</span></a>
                                <a class="dropdown-item text-danger" href="{% url 'auth-logout' %}"><i class="ri-shut-down-line align-middle me-1 text-danger"></i> <span class="align-middle" key="t-logout">Logout</span></a>
                                {% else %}
                                <a class="dropdown-item"  href="{% url 'auth-login' %}"><i class="mdi mdi-login-variant text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-login">Login</span></a>
                                {% endif %}
						</div>
					</div>
				</div>
			</div>
		</header>
{% endblock header %}