{% load static %}
{% block sidebar %}
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">
			<div data-simplebar class="h-100">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title" key="t-menu">Menu</li>
						<li>
							<a href="{% url 'dashboard' %}" class="waves-effect"> <i class="ri-dashboard-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<span key="t-dashboards">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-store-2-line"></i>
								<span key="t-ecommerce">Ecommerce</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'ecommerce-products' %}"key="t-products">Products</a>
								</li>
								<li><a href="{% url 'ecommerce-product-detail' %}"key="t-product-detail">Product Detail</a>
								</li>
								<li><a href="{% url 'ecommerce-orders' %}"key="t-orders">Orders</a>
								</li>
								<li><a href="{% url 'ecommerce-customers' %}"key="t-customers">Customers</a>
								</li>
								<li><a href="{% url 'ecommerce-cart' %}"key="t-cart">Cart</a>
								</li>
								<li><a href="{% url 'ecommerce-checkout' %}"key="t-checkout">key=Checkout</a>
								</li>
								<li><a href="{% url 'ecommerce-shops' %}"key="t-shops">Shops</a>
								</li>
								<li><a href="{% url 'ecommerce-add-product' %}"key="t-add-product">Add Product</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-mail-send-line"></i>
								<span key="t-email">Email</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'email-inbox' %}" key="t-inbox">Inbox</a>
								</li>
								<li><a href="{% url 'email-read' %}" key="t-read-email">Read Email</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-layout-3-line"></i>
								<span key="t-layouts">Layouts</span>
							</a>
							<ul class="sub-menu" aria-expanded="true">
								<li> <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href="{% url 'layouts-light-sidebar' %}" key="t-light-sidebar">Light Sidebar</a>
										</li>
										<li><a href="{% url 'layouts-compact-sidebar' %}" key="t-compact-sidebar" >Compact Sidebar</a>
										</li>
										<li><a href="{% url 'layouts-icon-sidebar' %}" key="t-icon-sidebar">Icon Sidebar</a>
										</li>
										<li><a href="{% url 'layouts-boxed' %}" key="t-boxed-width">Boxed Layout</a>
										</li>
										<li><a href="{% url 'layouts-preloader' %}" key ="t-preloader">Preloader</a>
										</li>
										<li><a href="{% url 'layouts-colored-sidebar' %}" key="t-colored-sidebar">Colored Sidebar</a>
										</li>
										{% comment %} <li><a href="{% url 'layouts-scrollable' %}" key="t-scrollable" >Scrollable</a>
										</li> {% endcomment %}
									</ul>
								</li>
								<li> <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href="{% url 'layouts-horizontal' %}" key="t-horizontal">Horizontal</a>
										</li>
										<li><a href="{% url 'layouts-hori-topbar-light' %}" key="t-topbar-light">Topbar light</a>
										</li>
										<li><a href="{% url 'layouts-hori-boxed-width' %}"key="t-boxed-width">Boxed width</a>
										</li>
										<li><a href="{% url 'layouts-hori-preloader' %}" key ="t-preloader">Preloader</a>
										</li>
										<li><a href="{% url 'layouts-colored-header' %}" key="t-colored-topbar" >Colored Header</a>
										</li>
										</li>
										{% comment %} <li><a href="{% url 'layouts-hori-scrollable' %}" key="t-scrollable">Scrollable</a>
										</li> {% endcomment %}
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-title" key="t-pages">Pages</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-account-circle-line"></i>
								<span key="t-authentication"> Authentication</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'auth-login' %}" key="t-login">Login</a>
								</li>
								<li><a href="{% url 'auth-register'%}" key="t-register" >Register</a>
								</li>
								<li><a href="{% url 'auth-recoverpw'%}" key="t-recover-password" >Recover Password</a>
								</li>
								<li><a href="{% url 'auth-lock-screen' %}" key="t-lock-screen" >Lock Screen</a>
								</li>
								<li><a href="{% url 'auth-confirm-mail'%}" key="t-confirm-mail" >Confirm Mail</a>
								</li>
								<li><a href="{% url 'auth-email-verification'%}" key="t-email-verification" >Email Verification</a>
								</li>
								<li><a href="{% url 'auth-two-step-verification' %}" key="t-two-step-verification" >Two Step Verification</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect" key= > <i class="ri-profile-line"></i>
								<span key="t-utility">Utility</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'pages-starter' %}" key="t-starter-page" >Starter Page</a>
								</li>
								<li><a href="{% url 'pages-maintenance' %}" key="t-maintenance" >Maintenance</a>
								</li>
								<li><a href="{% url 'pages-comingsoon' %}" key="t-coming-soon" >Coming Soon</a>
								</li>
								<li><a href="{% url 'pages-timeline' %}" key="t-timeline" >Timeline</a>
								</li>
								<li><a href="{% url 'pages-faqs' %}" key="t-faqs" >FAQs</a>
								</li>
								<li><a href="{% url 'pages-pricing' %}" key="t-pricing" >Pricing</a>
								</li>
								<li><a href="{% url 'pages-404' %}" key="t-error-404" >Error 404</a>
								</li>
								<li><a href="{% url 'pages-500' %}" key="t-error-500" >Error 500</a>
								</li>
							</ul>
						</li>
						<li class="menu-title" key="t-components">Components</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-pencil-ruler-2-line"></i>
								<span key="t-ui-elements" >UI Elements</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'ui-alerts' %}" key="t-alerts" >Alerts</a>
								</li>
							<li><a href="{% url 'ui-buttons' %}" key="t-buttons" >Buttons</a>
								</li>
							<li><a href="{% url 'ui-cards' %}" key="t-cards" >Cards</a>
								</li>
							<li><a href="{% url 'ui-carousel' %}" key="t-carousel" >Carousel</a>
								</li>
							<li><a href="{% url 'ui-dropdowns' %}" key="t-dropdowns" >Dropdowns</a>
								</li>
							<li><a href="{% url 'ui-grid' %}" key="t-grid" >Grid</a>
								</li>
							<li><a href="{% url 'ui-images' %}" key="t-images" >Images</a>
								</li>
							<li><a href="{% url 'ui-lightbox' %}" key="t-lightbox" >Lightbox</a>
								</li>
							<li><a href="{% url 'ui-modals' %}" key="t-modals" >Modals</a>
								</li>
							<li><a href="{% url 'ui-offcanvas' %}" key="t-offcanvas" >Offcanvas</a>
								</li>
							<li><a href="{% url 'ui-rangeslider' %}" key="t-range-slider" >Range Slider</a>
								</li>
							<li><a href="{% url 'ui-roundslider' %}" key="t-round-slider" >Round Slider</a>
								</li>
							<li><a href="{% url 'ui-session-timeout' %}" key="t-session-timeout" >Session Timeout</a>
								</li>
							<li><a href="{% url 'ui-progressbars' %}" key="t-progress-bars" >Progress Bars</a>
								</li>
							<li><a href="{% url 'ui-sweet-alert' %}" key="t-sweet-alert" >Sweetalert 2</a>
								</li>
							<li><a href="{% url 'ui-tabs-accordions' %}" key="t-tabs-accordions" >Tabs & Accordions</a>
								</li>
							<li><a href="{% url 'ui-typography' %}" key="t-typography" >Typography</a>
								</li>
							<li><a href="{% url 'ui-video' %}" key="t-video" >Video</a>
								</li>
							<li><a href="{% url 'ui-general' %}" key="t-general" >General</a>
								</li>
							<li><a href="{% url 'ui-rating' %}" key="t-rating" >Rating</a>
								</li>
							<li><a href="{% url 'ui-notifications' %}" key="t-notifications" >Notifications</a>
								</li>
							</ul>
						</li>
						<li>
						<a href="javascript: void(0);" class="waves-effect"> <i class="ri-eraser-fill"></i>
								<span class="badge rounded-pill bg-danger float-end">8</span>
								<span key="t-forms" >Forms</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'form-elements' %}" key="t-form-elements" >Form Elements</a>
								</li>
								<li><a href="{% url 'form-validation' %}" key="t-form-validation" >Form Validation</a>
								</li>
								<li><a href="{% url 'form-advanced' %}" key="t-form-advanced" >Form Advanced</a>
								</li>
								<li><a href="{% url 'form-editors' %}" key="t-form-editors" >Form Editors</a>
								</li>
								<li><a href="{% url 'form-uploads' %}" key="t-form-upload" >Form File Upload</a>
								</li>
								<li><a href="{% url 'form-xeditable' %}" key="t-form-xeditable" >Form X-editable</a>
								</li>
								<li><a href="{% url 'form-wizard' %}" key="t-form-wizard" >Form Wizard</a>
								</li>
								<li><a href="{% url 'form-mask' %}" key="t-form-mask" >Form Mask</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-table-2"></i>
								<span key="t-tables">Tables</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'tables-basic' %}" key="t-basic-tables" >Basic Tables</a>
								</li>
								<li><a href="{% url 'tables-datatable' %}" key="t-data-tables" >Data Tables</a>
								</li>
								<li><a href="{% url 'tables-responsive' %}" key="t-responsive-table" >Responsive Table</a>
								</li>
								<li><a href="{% url 'tables-editable' %}" key="t-editable-table" >Editable Table</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-bar-chart-line"></i>
								<span key="t-charts">Charts</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'charts-apex' %}" key="t-apex-charts" >Apex Charts</a>
								</li>
								<li><a href="{% url 'charts-chartjs' %}" key="t-chartjs-charts" >Chartjs Charts</a>
								</li>
								<li><a href="{% url 'charts-flot' %}" key="t-flot-charts": >Flot Charts</a>
								</li>
								<li><a href="{% url 'charts-knob' %}" key="t-knob-charts" >Jquery Knob Charts</a>
								</li>
								<li><a href="{% url 'charts-sparkline' %}" key="t-sparkline-charts" >Sparkline Charts</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-brush-line"></i>
								<span key="t-icons">Icons</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'icons-remix'%}" key= >Remix Icons</a>
								</li>
								<li><a href="{% url 'icons-materialdesign'%}" key="t-material-design" >Material Design</a>
								</li>
								<li><a href="{% url 'icons-dripicons'%}" key="t-dripicons" >Dripicons</a>
								</li>
								<li><a href="{% url 'icons-fontawesome'%}" key="t-font-awesome" >Font awesome 5</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-map-pin-line"></i>
								<span key="t-maps" >Maps</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url 'maps-google' %}" key="t-g-maps" >Google Maps</a>
								</li>
								<li><a href="{% url 'maps-vector' %}" key="t-v-maps" >Vector Maps</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-share-line"></i>
								<span key="t-multi-level">Multi Level</span>
							</a>
							<ul class="sub-menu" aria-expanded="true">
								<li><a href="javascript: void(0);" key="t-level-1-1" >Level 1.1</a>
								</li>
								<li><a href="javascript: void(0);" class="has-arrow" key="t-level-1-2">Level 1.2</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href="javascript: void(0);" key="t-level-2-1">Level 2.1</a>
										</li>
										<li><a href="javascript: void(0);" key="t-level-2-2">Level 2.2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->
{% endblock sidebar %}