{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     

{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary btn_update_company">Synchronize</a>
        </div>
    </div> 
    {% csrf_token %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="alternative-page-datatable" class="table w-100" style="table-layout:fixed">
                        <thead>
                            <tr>
                                <th class="align-top" style="width: 60px">No</th>
                                <th class="align-top">
                                    Company Name
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm" id="search_company" value="{{search_name}}" placeholder="">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-sm ri-search-line" id="btn_search_company">
                                            </span>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-top">Number of Products</th>
                                <th class="align-top">Number of Images</th>
                                <th class="align-top">Number of Planograms</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in companies %}
                            <tr> 
                                <td> {{ company.index }} </td>
                                <td>
                                    {{ company.company_name }}
                                </td>
                                <td>
                                    <a href="{% url 'company-products' company.id %}" class="waves-effect">
                                        <!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
                                        {{ company.products_number }}
                                    </a>
                                </td>
                                <td>{{ company.images_number }}</td>
                                <td>{{ company.planograms_number }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_info" id="key-datatable_info" role="status" aria-live="polite">Showing {{ rows_from }} to {{ rows_to }} of {{ rows_total }} entries</div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_paginate paging_simple_numbers" id="key-datatable_paginate">
                <ul class="pagination pagination-rounded" style="float:right">
                    <li class="paginate_button page-item previous disabled" id="key-datatable_previous">
                        <a href="#" aria-controls="key-datatable" data-dt-idx="0" tabindex="0" class="page-link">
                            <i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    {% for page in pages %}
                        <li class="paginate_button page-item {{ page.active }}">
                            <a href="{{ page.page_url }}" aria-controls="key-datatable" data-dt-idx="1" tabindex="0" class="page-link">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    <li class="paginate_button page-item previous disabled" id="key-datatable_previous">
                        <a href="#" aria-controls="key-datatable" data-dt-idx="0" tabindex="0" class="page-link">
                            <i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}	

{% block extra_javascript %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/pages/company-list.js' %}"></script>
{% endblock extra_javascript %}