{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     

{% endblock extra_css %}

{% block content %}

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="alternative-page-datatable" class="table w-100" style="table-layout:fixed">
                        <thead>
                            <tr>
                                <th style="width: 60px">No</th>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planogram in planograms %}
                            <tr> 
                                <td>{{ forloop.counter }}</td>
                                <td>{{ planogram.planogram_id }}</td>
                                <td>{{ planogram.planogram_name }}</td>
                                <td>{{ planogram.description }}</td>
                                <td>
                                    {% if planogram.status == 0 %}
                                        <div class="btn btn-danger">
                                            Not Verified
                                        </div>
                                    {% elif planogram.status == 1 %}
                                        <div class="btn btn-primary">
                                            Verified
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <a type="button" class="btn btn-info" href="/planogram/{{ planogram.id }}/edit">
                                        <i class="ri-edit-box-line"></i>
                                    </a>
                                    <a type="button" class="btn btn-danger btn-delete-planogram"  planogram_id="{{ planogram.id }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_info" id="key-datatable_info" role="status" aria-live="polite">Showing {{ rows_from }} to {{ rows_to }} of {{ rows_total }} entries</div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_paginate paging_simple_numbers" id="key-datatable_paginate">
                <ul class="pagination pagination-rounded" style="float:right">
                    <li class="paginate_button page-item previous disabled" id="key-datatable_previous">
                        <a href="#" aria-controls="key-datatable" data-dt-idx="0" tabindex="0" class="page-link">
                            <i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    {% for page in pages %}
                        <li class="paginate_button page-item {{ page.active }}">
                            <a href="{% url 'products' %}?page={{page.value}}" aria-controls="key-datatable" data-dt-idx="1" tabindex="0" class="page-link">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    <li class="paginate_button page-item previous disabled" id="key-datatable_previous">
                        <a href="#" aria-controls="key-datatable" data-dt-idx="0" tabindex="0" class="page-link">
                            <i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}	

{% block extra_javascript %}
    <script type="text/javascript">
        var page = 'list';
    </script>
    <script src="{% static 'libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/pages/planogram.init.js' %}"></script>
{% endblock extra_javascript %}